<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ir.maxivity.tasbih">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.location.network" />
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.wifi" />

    <application
        android:name=".NasimApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activities.MyPlacesActivity"></activity>
        <activity android:name=".activities.SelectLanguageActivity" />
        <activity android:name=".activities.FavoritePlacesActivity" />
        <activity android:name=".MessagesActivity" />
        <activity android:name=".ZiaratOnlineActivity" />
        <activity android:name=".QuranAdyehTextActivity" />
        <activity android:name=".ZekrsList" />
        <activity android:name=".QuranAdyeh" />
        <activity android:name=".MessagesList" />
        <activity android:name=".SendMessage" />
        <activity
            android:name=".Login"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name=".Calendar"
            android:theme="@style/CalendarTheme" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <meta-data
            android:name="co.ronash.pushe.token"
            android:value="PUSHE_944870440943" />

        <receiver android:name=".Widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <activity
            android:name=".Sidebar"
            android:label="@string/title_activity_sidebar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FullScreenSplash"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:supportsRtl="true" />
        <activity android:name=".ZekrCounter" />
        <activity android:name=".Qiblah_compass" />
        <activity android:name=".BaseActivity" />
    </application>

</manifest>